{% extends 'layouts/tableLayout.html' %}

{% block title %} Colleges {% endblock %}

{% block college_nav %}
    <li class="navbar-item active">
        <a href="{{ url_for('college.college') }}" class="nav-link">Colleges</a>
    </li>
{% endblock %}

{% block searchArea %}
<div class="col">
    <span>
        <a href=" {{ url_for('.collegeAddRender') }}" class="btn btn-outline-primary btn-sm">Add College</a>
    </span>
</div>
<div class='col-auto'>
    <form class="form-inline" action="{{ url_for('.college') }}">
        <input type="text" name="keyword" class="form-control mr-sm-2" id="searchInput" placeholder="Search College">
        <button type="submit" class="btn btn-primary" id='searchBtn'> Search </button>
    </form>
</div>
{% endblock %}

{% block tableHeaders %}
<th>College Code</th>
<th>College Name</th>
<th></th>
{% endblock %}

{% block tableContent %}

{% for college in data %}
<tr>
    <td>{{ college.id }}</td>
    <td>{{ college.college_name }}</td>
    <td class="align-to-right">
        <button class="btn btn-warning btn-edit" data-id='{{ college.id }}'>Edit</button>
        <button class="btn btn-danger btn-delete" data-id="{{ college.id }}">Delete</button>
    </td>
</tr>
{% endfor %}

{% endblock %}

{% block back %}

    {% if prev %}
    <li class="page-item">
        <a href="{{ prev }}" class="page-link">
            <span>&laquo;</span>
        </a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a href="" class="page-link">
            <span>&laquo;</span>
        </a>
    </li>
    {% endif %}

{% endblock %}

{% block pages %}

{% for page in pages %}

{% if currPage == page[0] %}
<li class="page-item active">
{% else %}
<li class="page-item">
{% endif %}
    <a href="{{ page[1] }}" class="page-link">
        <span>{{ page[0] }}</span>
    </a>
</li>

{% endfor %}

{% endblock %}

{% block next %}
    {% if nxt %}
    <li class="page-item">
        <a href="{{ nxt }}" class="page-link">
            <span>&raquo;</span>
        </a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a href="" class="page-link">
            <span>&raquo;</span>
        </a>
    </li>
    {% endif %}
{% endblock %}

{% block scripts %}

{{ bootstrap.load_js() }}
<script src=" {{ url_for('static', filename='js/colleges.js') }}"></script>

{% endblock %}