{% extends 'layouts/master.html' %}

{% block content %}

{% block container %}

    <div class="container body-content">
        <div class="row">
            {% block searchArea %}
            {% endblock %}
        </div>

        <div class="row table-area">
            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            {% block tableHeaders %}
                            {% endblock %}
                        </tr>
                    </thead>

                    {% block tableBody %}
                    <tbody id="tableRows">

                        {% block tableContent %}
                        {% endblock %}

                    </tbody>
                    {% endblock %}

                </table>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <nav>
                <ul class="pagination pagination-sm justify-content-center">
                    {% block back %}
                    {% endblock %}
                    {% block pages %}
                    {% endblock %}
                    {% block next %}
                    {% endblock %}
                </ul>
                </nav>
            </div>
        </div>
    </div>

{% endblock %}

{% endblock %}
