{% extends 'layouts/tableLayout.html' %}

{% block title %} Courses {% endblock %}

{% block course_nav %}
    <li class="navbar-item active">
        <a href="{{ url_for('course.course') }}" class="nav-link">Courses</a>
    </li>
{% endblock %}

{% block searchArea %}

<div class="col">
    <span>
        <a href=" {{ url_for('.courseAddRender') }}" class="btn btn-outline-primary btn-sm">Add Course</a>
    </span>
</div>
<div class='col-auto'>
    <form class="form-inline" action="{{ url_for('.course') }}">
        <input type="text" name="keyword" class="form-control mr-sm-2" id="searchInput" placeholder="Search Course">
        <button type="submit" class="btn btn-primary" id='searchBtn'> Search </button>
    </form>
</div>

{% endblock %}

{% block tableHeaders %}

<th>Course Code</th>
<th>Course Name</th>
<th>College</th>
<th></th>

{% endblock %}

{% block tableContent %}

{% for course in data %}
<tr>
    <td>{{ course.id }}</td>
    <td>{{ course.course_name }}</td>
    <td>{{ course.college_id }}</td>
    <td class="align-to-right">
        <button class="btn btn-warning btn-edit" data-id='{{ course.id }}'>Edit</button>
        <button class="btn btn-danger btn-delete" data-id="{{ course.id }}">Delete</button>
    </td>
</tr>
{% endfor %}

{% endblock %}

{% block back %}

    {% if prev %}
    <li class="page-item">
        <a href="{{ prev }}" class="page-link">
            <span>&laquo;</span>
        </a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a href="" class="page-link">
            <span>&laquo;</span>
        </a>
    </li>
    {% endif %}

{% endblock %}

{% block pages %}

{% for page in pages %}

{% if currPage == page[0] %}
<li class="page-item active">
{% else %}
<li class="page-item">
{% endif %}
    <a href="{{ page[1] }}" class="page-link">
        <span>{{ page[0] }}</span>
    </a>
</li>

{% endfor %}

{% endblock %}

{% block next %}
    {% if nxt %}
    <li class="page-item">
        <a href="{{ nxt }}" class="page-link">
            <span>&raquo;</span>
        </a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a href="" class="page-link">
            <span>&raquo;</span>
        </a>
    </li>
    {% endif %}
{% endblock %}

{% block scripts %}

{{ bootstrap.load_js() }}
<script src=" {{ url_for('static', filename='js/courses.js') }}"></script>

{% endblock %}