{% extends '/layouts/tableLayout.html' %}
{% block title %}{{ title }}{% endblock %}

{% block student_nav %}
    <li class="navbar-item active">
        <a href="{{ url_for('students.students') }}" class="nav-link">Students</a>
    </li>
{% endblock %}

{% block searchArea %}
<div class="col">
    <span>
        <a href=" {{ url_for('.studentAddRender') }}" class="btn btn-outline-primary btn-sm">Add Student</a>
    </span>
</div>
<div class='col-auto'>
    <form class="form-inline" action="{{ url_for('.students') }}">
        <input type="text" name='keyword' id="searchInput" class="form-control mr-sm-2" placeholder="Search Student">
        <button type="submit" class="btn btn-primary" id='searchBtn'> Search </button>
    </form>
</div>
{% endblock %}
    
{% block tableHeaders %}
<th>Student ID</th>
<th>Firstname</th>
<th>Lastname</th>
<th>Course</th>
<th>Year</th>
<th>Gender</th>
<th></th>
{% endblock %}

{% block tableContent %}

{% for student in students %}
            
<tr>
    <td>{{ student.id }}</td>
    <td>{{ student.firstname }}</td>
    <td>{{ student.lastname }}</td>
    <td>{{ student.course }}</td>
    <td>{{ student.year }}</td>
    <td>{{ student.gender }}</td>
    <td class="align-to-right">
        <button class="btn btn-warning btn-edit" data-id="{{ student.id }}">Edit</button> 
        <button class="btn btn-danger btn-delete" data-id="{{ student.id }}">Delete</button>
    </td>
</tr>

{% endfor %}

{% endblock %}

{% block back %}

    {% if prev %}
    <li class="page-item">
        <a href="{{ prev }}" class="page-link">
            <span>&laquo;</span>
        </a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a href="" class="page-link">
            <span>&laquo;</span>
        </a>
    </li>
    {% endif %}

{% endblock %}

{% block pages %}

{% for page in pages %}

{% if currPage == page[0] %}
<li class="page-item active">
{% else %}
<li class="page-item">
{% endif %}
    <a href="{{ page[1] }}" class="page-link">
        <span>{{ page[0] }}</span>
    </a>
</li>

{% endfor %}

{% endblock %}

{% block next %}
    {% if nxt %}
    <li class="page-item">
        <a href="{{ nxt }}" class="page-link">
            <span>&raquo;</span>
        </a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a href="" class="page-link">
            <span>&raquo;</span>
        </a>
    </li>
    {% endif %}
{% endblock %}

{% block scripts %}

{{ bootstrap.load_js() }}

<script src=" {{ url_for('static', filename='js/student.js') }}"></script>

{% endblock %}